@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.play-btn{
    width: 70px;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    color: #dddcdc;
    background:gray.800;
    border: 2px solid #535353;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 5px;
  }
  
  .play-btn span{
    display: flex;
    z-index: 2;
  }
  
  .play-btn:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .35s;
    border-radius: 5px;
  }

  .play-btn-light{
    color: #422e2e;
    border:2px solid #76ABAE;
  }

  .play-btn-dark{
    color: #dddcdc;
    background:gray.800;
  }

  .play-btn-light::after {
    background: #3ef7f0;
  }
  
  .play-btn-dark::after {
    background: #d0d0d0;
  }
  
  .play-btn:hover{
    color: #464545;
  }
  
  .play-btn:hover:after{
    width: 100%;
  }